    .default-main{
        display:flex;
        width:1190px;
        border:1px solid transparent;
        box-sizing:border-box;
        margin:0 auto;
        ::after{
            content:'';
            display:block;
            clear:both;
        }
    }
