.nav-container{
    width:230px;
    height:425px;
    .index-nav{
        width:230px;
        height:475px;
        background-color: #fff;
        box-sizing:border-box;
        border:1px solid #E5E5E5;
        border:1px solid #00f;
        margin-top:50px;
        position: relative;
    }
}
