.default-footer{
    position:relative;
    
    dt{
        width:220px;
        height:28px;
        font-size:14px;
        color:#333;
    }
    dd{
        width:220px;
        height:24px;
        line-height:24px;
        font-size:12px;
        color:#666;
    }

    .other-links{
        position:absolute;
        left:50%;
        transform:translateX(-50%);
        display:flex;
        padding:40px 45px 16px 45px;
        border-top:1px solid #e5e5e5;
        border-bottom:1px solid #e5e5e5;
        .links-column{
            width:20%;
            dl{
                padding-bottom:24px;
            }
        }
    }
    .page-info{
        width:1190px;
        position:absolute;
        top:530px;
        left:50%;
        transform:translateX(-50%);
        display: flex;
        justify-content: space-between;
        .platform{
            margin-left:20px;
            font-size:12px;
            color:#999;
            p{
                margin-bottom:5px;
            }
            span{
                display:inline-block;
                margin-right:10px;
            }
        }
        .qulifications{
            margin-right:20px;
            &::after{
                content:'';
                display:block;
                clear:both;
            }
            .police-num{
                display:flex;
                align-items: center;
                float:right;
                img{
                    width:12px;
                    height:12px;
                }
                span{
                    margin-left:3px;
                    font-size:12px;
                    color:#999;
                }
            }
            .img-list{
                display:flex;
                position:absolute;
                right:20px;
                top:16px;
                .img-info{
                    display: flex;
                    align-items: center;
                    margin-left:10px;
                    img{
                        width:24px;
                        height:24px;
                    }
                    span{
                        font-size:12px;
                        color:#999;
                    }
                }
            }
        }
    }
}
